<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
      <section class="home-section">
          <app-side-bar></app-side-bar>
          <div class="background-image"></div>
          <div class="wrapper bg-white mt-sm-5">
            <div class="centered-container" style="display: flex; justify-content: center; align-items: center; height: 20vh;">
                <div class="centered-section">
                  <div class="image">
                    <div class="circle-1"></div>
                    <div class="circle-2"></div>
                    <img src="https://static.vecteezy.com/system/resources/previews/000/362/094/non_2x/add-user-vector-icon.jpg" width="70" height="70" alt="Person">
                  </div>
                  <h4 class="pb-4 border-bottom">Account settings</h4>
                </div>
            </div>
              <form [formGroup]="updateForm" (ngSubmit)="updateUser()">
                <div class="py-2">
                  <div class="row py-2">
                    <div class="col-md-6">
                      <label for="firstname">Username</label>
                      <br>
                      <input formControlName="username" type="text" class="bg-light form-control" placeholder="Username">
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                      <label for="lastname">Email</label>
                      <br>
                      <input formControlName="email" type="email" class="bg-light form-control" placeholder="Email">
                    </div>
                  </div>
                  <div class="row py-2">
                    <div class="col-md-6">
                      <label for="role">Role</label>
                      <select formControlName="role" id="role" class="bg-light form-control">
                        <option value="PAT">Patient</option>
                        <option value="ADM">Administrateur</option>
                      </select>
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                      <label for="is_active">Active</label>
                      <input formControlName="is_active" type="checkbox" class="form-check-input">
                    </div>
                  </div>
                  <div class="row py-2">
                    <div class="col-md-6">
                      <label for="password">Password</label>
                      <input formControlName="password" type="password" class="bg-light form-control" placeholder="Leave blank to keep unchanged">
                    </div>
                  </div>
                  <div class="button-container">
                    <button class="btn save-btn" type="submit">
                      <i class="fas fa-check-circle"></i> Save
                    </button>
                    <button class="btn cancel-btn" type="reset">
                      <i class="fas fa-times-circle"></i> Cancel
                    </button>
                  </div>
                  
                </div>
              </form>
          </div>
          
      </section>
  </body>
  