<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="background-image"></div>
<div class="form-gap"></div>
<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3><i class="fa fa-lock fa-4x"></i></h3>
              <h2 class="text-center">Confirmer la modification du mot de passe</h2>
              <p>Vous pouvez entrer votre nouveau mot de passe ici.</p>
              <div class="panel-body">
                <form (ngSubmit)="confirmResetPassword()" [formGroup]="confirmPasswordForm" novalidate>
                  <input id="newPassword" name="newPassword" placeholder="Nouveau mot de passe" class="form-control" formControlName="newPassword" type="password">
                  <input id="confirmPassword" name="confirmPassword" placeholder="Confirmez le mot de passe" class="form-control" formControlName="confirmPassword" type="password">
                  <div *ngIf="confirmPasswordForm.errors?.['passwordMismatch'] && (confirmPasswordForm.get('confirmPassword')?.dirty || confirmPasswordForm.get('confirmPassword')?.touched)" class="alert alert-danger">
                    Les mots de passe ne correspondent pas.
                  </div>
                  <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Confirmer la modification</button>
                  </div>
                </form>
                <div *ngIf="message" class="alert alert-success">{{ message }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  