.form-gap {
    padding-top: 70px;
} 

.background-image {
    background-image: url('src/assets/images/img3.jpg'); /* Chemin vers votre image */
    background-size: cover;
    background-position: center;
    filter: blur(5px); /* Valeur de flou */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } 
  